@media (max-width: 1024px) {
    .page__tariffs {
      margin: 0 auto !important;
      width: 100%;
      height: 100% !important;
      padding-bottom: 70px;
    }
  
    .tariffs {
      &__items {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px !important;
        grid-row-gap: 0px !important;
        row-gap: 50px !important;
        margin-left: 9vw !important;
  
        div {
          max-width: 300px;
        }
      }
    }
  }
  
  @media (max-width: 723px) {
    .tariffs {
      &__items {
        div {
          max-width: 274px !important;
        }
        margin-left: 1vw !important;
      }
    }
  }
  
  @media (max-width: 600px) {
    .tariffs {
      &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr) !important;
        grid-template-rows: 1fr !important;
        grid-column-gap: 195px !important;
        grid-row-gap: 71px !important;
        margin-left: 4vw !important;
  
        div {
          width: 307px !important;
        }
      }
    }
  }
  
  @media (max-width: 488px) {
    .tariffs {
      &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr) !important;
        grid-template-rows: 1fr !important;
        grid-column-gap: 111px !important;
        grid-row-gap: 71px !important;
  
        div {
          width: 307px !important;
        }
  
        margin-left: 4vw !important;
      }
    }
  }
  
  @media (max-width: 431px) {
    .tariffs {
      &__items {
        grid-column-gap: 40px !important;
  
        div {
          width: 307px !important;
          margin-left: 28px;
        }
      }
    }
  }
  
  @media (max-width: 412px) {
    .tariffs {
      &__items {
        grid-column-gap: 4px !important;
      }
    }
  }
  
  .tariffs__control {
    display: none; 
  
    @media (max-width: 600px) {
      display: block; 
    }
  }
  
  .tariffs__control--btns {
    display: flex;
    justify-content: space-between;
    max-width: 103px;
    position: relative;
    right: -53%;
    top: 22px;
  }
  
  .tariffs__control svg {
    min-width: 180%;
  }
  
  .slider-icon-path {
    fill: #8e8e8e;
  
    &:hover {
      fill: #555;
    }
  
    &:active {
      fill: #333;
    }
  }
  