@media (max-width:777px) {
    .faq-container {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:393px) {
    .faq-icon {
        position: absolute;
        right: 16px;
    }
}