.gallery {
  font-family: Trebuchet MS !important;
  &__slider {
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }

  &-slider-wrapper {
    display: flex;
    transition: transform 0.5s ease;
  }

  &-slider-item {
    width: 100%; 
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__controls {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    margin-top: 93px;
    position: relative;
    left: 28%;
  }

  &__control {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 72px;
    height: 37px;
    margin: 100px 40px;
    background-size: contain;
    background-repeat: no-repeat;

    svg {
      min-width: 130% !important;
    }

    .slider-icon-path {
      fill: #8E8E8E;

      &:hover {
        fill: #555;
      }

      &:active {
        fill: #333;
      }
    }
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
    padding-top: 100px;
    color: #000000;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 100px;
    position: relative;
    right: 34%;

    span {
      background-color: #000000;
      color: #ffffff;
      padding: 20px 10px 20px 40px;
      border-radius: 24px;
      margin-right: 3px;
    }
  }
}

.gallery__title-container{
  text-align: center;
  margin-bottom: 20px;
}