@media (max-width: 512px) {
    .page {
      &__gallery {
        &.gallery {
          margin-top: 60%;
        }
      }
    }
  }
  
  @media (max-width: 600px) {
    .gallery {
      &-slider-item {
        flex: 0 0 85%;
        margin-right: 20px;
  
        img {
          border-radius: 10px;
        }
      }
  
      &-slider-wrapper {
        display: flex;
        transition: transform 0.5s ease;
        width: 92%;
        margin-left: 20px;
      }
  
      &__control {
        background: transparent;
        border: none;
        cursor: pointer;
        width: 47px;
        height: 26px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: -2px;
        margin-bottom: 150px;
      }
  
      &__title {
        margin-left: 15px;
        padding-top: 99px;
        color: #000000;
        font-weight: 700;
        margin-bottom: 57px;
        font-size: 60px;
  
        span {
          background-color: #000000;
          color: #ffffff;
          padding: 12px;
          border-radius: 12px;
          margin-right: 1px;
        }
      }
    }
  }
  
  @media (max-width: 496px) {
    .gallery {
      &__control {
        position: relative;
        left: -16%;
      }
  
      &__title {
        margin-left: 15px;
        padding-top: 99px;
        color: #000000;
        font-weight: 700;
        margin-bottom: 57px;
        font-size: 32px;
  
        span {
          background-color: #000000;
          color: #ffffff;
          padding: 12px;
          border-radius: 12px;
          margin-right: 1px;
        }
      }
    }
  }
  