
@media (max-width:1793px) {
    .header{
        &__content{
            margin-top: calc(100vh / 4) !important;
           
        }
        
    }
   
    
}

@media (max-width:1610px) {
    .header{


        &__top{
            margin-left: 20px;
    margin-right: 20px;
        }

        .nav{
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 36px;
            background: #fff;
            padding: 30px;
            border-radius: 21px;
            &__logo{
                display: flex;
                align-items: center;
              
                font-size: 66px;
                font-weight: 500;
                span{
                    text-transform: uppercase;
                    margin-right: 10px;
                    color: #fff;
                    width: 83px;
                    height: 80px;
                    background-color: #000;
                    border-radius: 21px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                   
                }
            }
            &__contanct{
                display: flex;
                align-items: center;
            }
            &__menu{
                ul{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    li{
                        margin-right: 65px;
                        font-size: 27px;
                        font-weight: 400;
                        a{
                            color: #000 ;
                            &:hover{
                                color:  #120e0ec0 !important;
                                font-weight: 500;
                            }
                        }
                        
                    }
                }
            }
            &__contanct{
                
                display: flex;
                align-items: center;
                justify-content: space-around;
                &-number{
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 23.59px;
                    text-align: left;
                    a{
                        color: #000;
                    }
                }
                &-btn{
                    border-radius: 21px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #000000;
      color: #fff;
      padding: 20px 14px 20px 14px;
      margin-left: 40px;
      font-size: 20px;
      width: 327px;
    
                    &:hover{
                        background-color: #120e0ec0;
                    }
                }
            }
        }





        &__content{
            margin-left: 40px;
            &-btn{
                border-radius: 21px;
      
      padding: 17px 20px 17px 20px;
      margin-left: 40px;
      font-size: 25px;
      font-weight: 700;
      width: 413px;
      position: relative;
      left: -39px;
              button{
                font-weight: 300;
              }
            }
            &-span{
                font-size: 25px;
      font-weight: 300;
            }
            &-title{
                font-size: 60px ;
      width: 848px;
      margin-top: 15px;
      margin-bottom: 52px;
      font-weight: 500;
            }
           
        }
        
    }
   
}

@media (max-width:1686px) {
    .header{
        min-height: 131vh !important;
        &__content{
            margin-top: (100vh/3) !important;
           
        }
    }
  
}


@media (max-width:1519px) {
    .header{
        min-height: 100vh !important;
        &__top{
            .nav{
                padding: 19px;
                &__logo{
                    font-size: 49px;
                    span{
                        width: 67px;
                        height: 67px;
                        margin-right: 5px;
                    }
                }
                &__menu{
                    ul{
                        li{
                            margin-right: 40px;
                            font-size: 25px;
                        }
                    }
                }

            }
        }
    }
}