
@media (max-width:1793px) {
    .header{
        &__content{
            margin-top: calc(100vh / 4) !important;
           
        }
        
    }
   
    
}

@media (max-width:1610px) {
    .header{


        &__top{
            margin-left: 20px;
    margin-right: 20px;
        }

        .nav{
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 36px;
            background: #fff;
            padding: 30px;
            border-radius: 21px;
            &__logo{
                display: flex;
                align-items: center;
              
                font-size: 66px;
                font-weight: 500;
                span{
                    text-transform: uppercase;
                    margin-right: 10px;
                    color: #fff;
                    width: 83px;
                    height: 80px;
                    background-color: #000;
                    border-radius: 21px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                   
                }
            }
            &__contanct{
                display: flex;
                align-items: center;
            }
            &__menu{
                ul{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    li{
                        margin-right: 65px;
                        font-size: 27px;
                        font-weight: 400;
                        a{
                            color: #000 ;
                            &:hover{
                                color:  #120e0ec0 !important;
                                font-weight: 500;
                            }
                        }
                        
                    }
                }
            }
            &__contanct{
                
                display: flex;
                align-items: center;
                justify-content: space-around;
                &-number{
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 23.59px;
                    text-align: left;
                    a{
                        color: #000;
                    }
                }
                &-btn{
                    border-radius: 21px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #000000;
      color: #fff;
      padding: 20px 14px 20px 14px;
      margin-left: 40px;
      font-size: 20px;
      width: 327px;
    
                    &:hover{
                        background-color: #120e0ec0;
                    }
                }
            }
        }





        &__content{
            margin-left: 40px;
            &-btn{
                border-radius: 21px;
        padding: 25px 20px 25px 20px;
        margin-left: 40px;
        font-size: 20px;
        font-weight: 700;
        width: 266px;
        position: relative;
        left: -39px;
              button{
                letter-spacing: 1px;
                font-weight: 300;
              }
            }
            &-span{
                font-size: 25px;
      font-weight: 300;
            }
            &-title{
                font-size: 60px ;
      width: 848px;
      margin-top: 15px;
      margin-bottom: 52px;
      font-weight: 500;
            }
           
        }
        
    }
   
}

@media (max-width:1686px) {
    .header{
        min-height: 131vh !important;
        &__content{
            margin-top: calc(100vh/3)  !important;
           
        }
    }
  
}


@media (max-width:1519px) {
    .header{
        min-height: 100vh !important;
        &__top{
            .nav{
                padding: 19px;
                &__logo{
                    font-size: 49px;
                    span{
                        width: 67px;
                        height: 67px;
                        margin-right: 5px;
                    }
                }
                &__menu{
                    ul{
                        li{
                            margin-right: 40px;
                            font-size: 25px;
                        }
                    }
                }

            }
        }
    }
}

@media (max-width:1331px) {
  
    .header{

        .nav{
            &__logo{
                font-size: 46px;
            }
            &__menu{
                ul{
                    li{
                        margin-right: 40px;
                        font-size: 24px;
                    }
                }
            }
            &__contanct{
                &-number{
                    font-size: 23px;
                }
                &-btn{
                    
                    margin-left: 17px;
                    font-size: 19px;
                    width: 263px;
                }
            }
        }
    }
}

@media (max-width:1181px) {
    .header{
        .nav{
            &__contanct{
                &-number{
                    display: none;
                }
                &-btn{
                    margin-left: -34px;
                }
            }
        }
    }
}

@media (max-width:954px) {
    .header{
        .nav{
            position: relative;
            padding: 12px;
            &__menu{
                display: none;
            }
            &__contanct{
                &-btn{
                    margin-left: 0;
        width: 234px;
        font-size: 16px;
        padding: 15px;

                }
            }
            &__burger{
                
                cursor: pointer;
                display: block;
                width: 40px;
                height: 40px ;
                
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                
                div{
                    width:30px ;
                    height: 2px;
                    background-color: #000;
                }
            }
        }
    }
}

.nav__menu.nav__menu--open{
    margin-right: -35px;
    padding-top: 63px;
    display: block;
    position: absolute;
    
    ul{
      
        display: flex;
        flex-direction: column;
        li{
            margin-top: 10px;
        }
    }
}
.nav__logo.nav__logo--menu-open {
    padding-bottom: 22% ;
}

.nav__menu.nav__menu--open ~ .nav__contanct {
    padding-bottom: 22% ;
}
.nav__menu.nav__menu--open ~ .nav__contanct {
    .nav__contanct-btn{

    }
}

.nav__menu.nav__menu--open ~ .nav__burger {
   margin-bottom: 22% ;
   
}

.nav__burger{
position: absolute;
right: 6px !important;
}
.nav__burger.nav__burger--open{
    
}


@media (max-width:649px) {
    .header .nav__contanct-btn {
        margin-left: -103px;
        width: 210px;
        font-size: 14px;
        padding: 15px;
    }
}
@media (max-width:602px) {
    .header__top .nav__logo span {
        width: 57px;
        height: 57px;
        margin-right: 5px;
    }
    .header .nav__logo {
        font-size: 37px;
        right: calc(100vw / 13);
        position: relative;
    }
    .nav.nav--active{
        padding-bottom: 60px;
    }
    .nav__menu.nav__menu--open {
        margin-right: -35px;
        padding-top: 115px;
        display: block;
        position: absolute;
    }
    .header .nav__contanct-btn {
        margin-left: -103px;
        width: 172px;
        font-size: 12px;
        padding: 8px;
    }
    .header .nav__contanct-btn img{
        width: 15px;
    }
}
@media (max-width:463px) {
    .header .nav__logo {
        font-size: 30px;
        right: 9.692308vw;
        position: relative;
    }
    .header__top .nav__logo span {
        width: 42px;
        height: 43px;
        margin-right: 3px;
        border-radius: 15px;
    }
}
@media (max-width:463px) {
    .header .nav__contanct-btn img {
        //display: none;
        width: 15px;

    }

    .header .nav__contanct-btn {
        margin-left: -103px;
        width: 179px;
        font-size: 12px;
        padding: 8px;
        border-radius: 12px;
    }
    
}

@media (max-width:1259px) {
    .header__content-title {
        font-size: 37px;
        width: 591px;
        margin-top: 15px;
        margin-bottom: 52px;
        font-weight: 500;
    }
    .header__content-span {
        font-size: 23px;
        font-weight: 300;
    }
    .header__content-btn {
        border-radius: 21px;
        padding: 17px 20px 17px 20px;
        margin-left: 40px;
        font-size: 25px;
        font-weight: 700;
        width: 289px;
        position: relative;
        left: -39px;
    }
}

@media (max-width:994px) {
    .header{
        &__content{
            margin-top: 38vh !important;
           
        }
        
    }
}


@media (max-width:525px) {
    .header__content-title {
        font-size: 36px;
        width: 380px;
        margin-top: 15px;
        margin-bottom: 52px;
        font-weight: 500;
    }
    .header__content-span {
        font-size: 18px;
        font-weight: 300;
        min-width: 133px;
    }
}

@media (max-width:402px) {
    .header__content-btn {
        border-radius: 12px;
        padding: 13px 20px 12px 20px;
        margin-left: 40px;
        font-size: 25px;
        font-weight: 700;
        width: 246px;
        position: relative;
        left: -39px;
    }
}

@media (max-width:1259px) {
    .header__content-btn button {
        letter-spacing: 1px;
        font-weight: 300;
        font-size: 19px;
    }
}

@media (max-width:405px) {
    .nav__contanct-btn img{
        width: 179px;
    }
    .header .nav__contanct-btn {
        margin-left: -90px;
        width: 160px;
        font-size: 12px;
        padding: 5px;
        border-radius: 12px;
    }
    .header__top {
        margin-left: 6px;
        margin-right: 6px;
    }
}